.add-food-flex {
    margin-top: 25px;
    gap: 25px;
}
.food-info-flex {
    border-style: solid;
    border-color: green;
    background-color: #c4ce8b;
    
    margin: 25px;
    padding: 80px;
    gap: 45px;
}
.container {
    background-color: #F6F1F1;
}
.form-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    font-size: larger;
}